body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
  }
  
  nav {
    background-color: #666;
    padding: 1em;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  section {
    margin: 20px 0;
  }
  
  article {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  /* Random styles for demonstration */
  .random-box {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
  }
  
  .random-text {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .random-image {
    max-width: 100%;
    height: auto;
  }
  